
<div class="article academic-links">
  <h3>学术文档</h3>
  <ul>
    <li><a href="/assets/academic/SGLang_图解动画.html">SGLang 图解动画</a></li>
    <li><a href="/assets/academic/SGLang_学习笔记.html">SGLang 学习笔记</a></li>
    <li><a href="/assets/academic/SGLang_学习博客_阶段一.html">SGLang 学习博客 阶段一</a></li>
    <li><a href="/assets/academic/sglang_zh_reader.html">SGLang 中文阅读器</a></li>
  </ul>
</div>
<%- partial('partials/archive-list') %>
